PORT=3000
NODE_ENV=development

MONGO_URI=mongodb+srv://userA:rfnMdbnqZ3nVzPas@cluster0.6pg6g1a.mongodb.net/together_as_one?retryWrites=true&w=majority
JWT_SECRET=together_as_one_secret_2026

# Google OAuth Credentials
# Get these from: https://console.cloud.google.com/
GOOGLE_CLIENT_ID=724192757258-aohp1mhqnebdafis4k345car52cuqiam.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Facebook OAuth Credentials
# Get these from: https://developers.facebook.com/
FACEBOOK_APP_ID=1507405057711844
FACEBOOK_APP_SECRET=e11b34f49316764777d3aace2a71784d

# Apple OAuth Credentials
# Get these from: https://developer.apple.com/
APPLE_SERVICE_ID=your_apple_service_id_here
APPLE_TEAM_ID=your_apple_team_id_here
APPLE_KEY_ID=your_apple_key_id_here

APPLE_PRIVATE_KEY="your_apple_private_key_content_here"