.header {
  height: 95px;
  background: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 60px;
  gap: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.headerLogo {
  height: 70px;
}

.headerTitle {
  font-size: 28px;
  font-weight: 700;
  color: #001d40;
}