.project-tabs {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  margin: 0 auto;

  width: 720px;
  max-width: 90%;

  background: #cfd9e3;
  border-radius: 16px;
}

.project-tabs button {
  flex: 1;
  border: none;
  background: transparent;
  padding: 10px 0;
  border-radius: 14px;
  cursor: pointer;
  font-weight: 600;
  color: #0b2b45;
}

.project-tabs button.active {
  background: white;
}